kandidatarbete_venv/

_generated/pilot_matriser/2_dzvlf_highres.bmp
_generated/pilot_matriser/2_jttrg_highres.bmp
_generated/pilot_matriser/2_vlwmk_highres.bmp
_generated/pilot_matriser/4_gfrpy_highres.bmp
_generated/pilot_matriser/4_jbefq_highres.bmp
_generated/pilot_matriser/4_pfuoy_highres.bmp
_generated/pilot_matriser/6_binsz_highres.bmp
_generated/pilot_matriser/6_tbvrb_highres.bmp
_generated/pilot_matriser/6_vdost_highres.bmp
_generated/pilot_matriser/8_gvxns_highres.bmp
_generated/pilot_matriser/8_qlqmt_highres.bmp
_generated/pilot_matriser/8_qtndo_highres.bmp
_generated/pilot_matriser/10_ctmai_highres.bmp
_generated/pilot_matriser/10_kaila_highres.bmp
_generated/pilot_matriser/10_mdeun_highres.bmp
_generated/pilot_matriser/12_aswvs_highres.bmp
_generated/pilot_matriser/12_dnblr_highres.bmp
_generated/pilot_matriser/12_gawov_highres.bmp
_generated/pilot_matriser/14_bdzwr_highres.bmp
_generated/pilot_matriser/14_tnqhm_highres.bmp
_generated/pilot_matriser/14_ucoqy_highres.bmp
_generated/pilot_matriser/16_agxqt_highres.bmp
_generated/pilot_matriser/16_dkknv_highres.bmp
_generated/pilot_matriser/16_vqxie_highres.bmp
_generated/tests/20_highres.bmp
_generated/tests/20.bmp
_generated/tests/60_highres.bmp
_generated/tests/60.bmp
_generated/tests/test_highres.bmp
_generated/tests/test.bmp
1. Chipman/C_01.txt
1. Chipman/C_02.txt
1. Chipman/C_03.txt
1. Chipman/C_04.txt
1. Chipman/C_05.txt
1. Chipman/C_06.txt
1. Chipman/C_07.txt
1. Chipman/C_08.txt
1. Chipman/C_09.txt
1. Chipman/C_10.txt
1. Chipman/C_11.txt
1. Chipman/C_12.txt
1. Chipman/C_13.txt
1. Chipman/C_14.txt
1. Chipman/C_15.txt
1. Chipman/C_16.txt
1. Chipman/C_17.txt
1. Chipman/C_18.txt
1. Chipman/C_19.txt
1. Chipman/C_20.txt
1. Chipman/C_21.txt
1. Chipman/C_22.txt
1. Chipman/C_23.txt
1. Chipman/C_24.txt
1. Chipman/C_25.txt
1. Chipman/C_26.txt
1. Chipman/C_27.txt
1. Chipman/C_28.txt
1. Chipman/C_29.txt
1. Chipman/C_30.txt
1. Chipman/C_31.txt
1. Chipman/C_32.txt
1. Chipman/C_33.txt
1. Chipman/C_34.txt
1. Chipman/C_35.txt
1. Chipman/C_36.txt
1. Chipman/C_37.txt
1. Chipman/C_38.txt
1. Chipman/C_39.txt
1. Chipman/C_40.txt
1. Chipman/C_41.txt
1. Chipman/C_42.txt
1. Chipman/C_43.txt
1. Chipman/C_44.txt
1. Chipman/C_45.txt
2. Howe/H_01.txt
2. Howe/H_02.txt
2. Howe/H_03.txt
2. Howe/H_04.txt
2. Howe/H_05.txt
2. Howe/H_06.txt
2. Howe/H_07.txt
2. Howe/H_08.txt
2. Howe/H_09.txt
2. Howe/H_10.txt
2. Howe/H_11.txt
2. Howe/H_12.txt
2. Howe/H_13.txt
2. Howe/H_14.txt
2. Howe/H_15.txt
2. Howe/H_16.txt
2. Howe/H_17.txt
2. Howe/H_18.txt
2. Howe/H_19.txt
2. Howe/H_20.txt
2. Howe/H_21.txt
2. Howe/H_22.txt
2. Howe/H_23.txt
2. Howe/H_24.txt
2. Howe/H_25.txt
2. Howe/H_26.txt
2. Howe/H_27.txt
2. Howe/H_28.txt
2. Howe/H_29.txt
2. Howe/H_30.txt
2. Howe/H_31.txt
2. Howe/H_32.txt
2. Howe/H_33.txt
2. Howe/H_34.txt
2. Howe/H_35.txt
2. Howe/H_36.txt
2. Howe/H_37.txt
2. Howe/H_38.txt
2. Howe/H_39.txt
2. Howe/H_40.txt
2. Howe/H_41.txt
2. Howe/H_42.txt
2. Howe/H_43.txt
2. Howe/H_44.txt
2. Howe/H_45.txt
2. Howe/H_46.txt
2. Howe/H_47.txt
2. Howe/H_48.txt
2. Howe/H_49.txt
2. Howe/H_50.txt
2. Howe/H_51.txt
2. Howe/H_52.txt
2. Howe/H_53.txt
2. Howe/H_54.txt
2. Howe/H_55.txt
2. Howe/H_56.txt
2. Howe/H_57.txt
2. Howe/H_58.txt
2. Howe/H_59.txt
2. Howe/H_60.txt
3. Symmetry/RN.txt
3. Symmetry/RP.txt
3. Symmetry/SN.txt
3. Symmetry/SP.txt
3. Symmetry/TN.txt
3. Symmetry/TP.txt
3. Symmetry/VN.txt
3. Symmetry/VP.txt
4. Form/1.Square.txt
4. Form/2.Rectangle.txt
4. Form/3.Triangle.txt
4. Form/4.Scalene.txt
5. Grouping/Both_compact.txt
5. Grouping/Both_far.txt
5. Grouping/Both_near.txt
5. Grouping/Square_compact.txt
5. Grouping/Square_far.txt
5. Grouping/Square_near.txt
5. Grouping/Triangle_compact.txt
5. Grouping/Triangle_far.txt
5. Grouping/Triangle_near.txt
6a. Triangle aspect Gridgui/B_00.JPG
6a. Triangle aspect Gridgui/B_00.txt
6a. Triangle aspect Gridgui/B_02.JPG
6a. Triangle aspect Gridgui/B_02.txt
6a. Triangle aspect Gridgui/B_04.JPG
6a. Triangle aspect Gridgui/B_04.txt
6a. Triangle aspect Gridgui/B_06.JPG
6a. Triangle aspect Gridgui/B_06.txt
6a. Triangle aspect Gridgui/B_08.JPG
6a. Triangle aspect Gridgui/B_08.txt
6a. Triangle aspect Gridgui/B_10.JPG
6a. Triangle aspect Gridgui/B_10.txt
6a. Triangle aspect Gridgui/B_12.JPG
6a. Triangle aspect Gridgui/B_12.txt
6a. Triangle aspect Gridgui/B_14.JPG
6a. Triangle aspect Gridgui/B_14.txt
6a. Triangle aspect Gridgui/S_00.JPG
6a. Triangle aspect Gridgui/S_00.txt
6a. Triangle aspect Gridgui/S_02.JPG
6a. Triangle aspect Gridgui/S_02.txt
6a. Triangle aspect Gridgui/S_04.JPG
6a. Triangle aspect Gridgui/S_04.txt
6a. Triangle aspect Gridgui/S_06.JPG
6a. Triangle aspect Gridgui/S_06.txt
6a. Triangle aspect Gridgui/S_08.JPG
6a. Triangle aspect Gridgui/S_08.txt
6a. Triangle aspect Gridgui/S_10.JPG
6a. Triangle aspect Gridgui/S_10.txt
6a. Triangle aspect Gridgui/S_12.JPG
6a. Triangle aspect Gridgui/S_12.txt
6a. Triangle aspect Gridgui/S_14.JPG
6a. Triangle aspect Gridgui/S_14.txt
6b. Triangle aspect bitmap/B_04.bmp
6b. Triangle aspect bitmap/B_08.bmp
6b. Triangle aspect bitmap/B_12.bmp
6b. Triangle aspect bitmap/B_16.bmp
6b. Triangle aspect bitmap/B_20.bmp
6b. Triangle aspect bitmap/B_24.bmp
6b. Triangle aspect bitmap/B_28.bmp
6b. Triangle aspect bitmap/B_32.bmp
6b. Triangle aspect bitmap/B04.bmp
6b. Triangle aspect bitmap/B08.bmp
6b. Triangle aspect bitmap/B12.bmp
6b. Triangle aspect bitmap/B16.bmp
6b. Triangle aspect bitmap/B20.bmp
6b. Triangle aspect bitmap/B24.bmp
6b. Triangle aspect bitmap/B28.bmp
6b. Triangle aspect bitmap/B32.bmp
6b. Triangle aspect bitmap/S_04.bmp
6b. Triangle aspect bitmap/S_08.bmp
6b. Triangle aspect bitmap/S_12.bmp
6b. Triangle aspect bitmap/S_16.bmp
6b. Triangle aspect bitmap/S_20.bmp
6b. Triangle aspect bitmap/S_24.bmp
6b. Triangle aspect bitmap/S_28.bmp
6b. Triangle aspect bitmap/S_32.bmp
6b. Triangle aspect bitmap/S04.bmp
6b. Triangle aspect bitmap/S08.bmp
6b. Triangle aspect bitmap/S12.bmp
6b. Triangle aspect bitmap/S16.bmp
6b. Triangle aspect bitmap/S20.bmp
6b. Triangle aspect bitmap/S24.bmp
6b. Triangle aspect bitmap/S28.bmp
6b. Triangle aspect bitmap/S32.bmp
_generated/AG2_TEST_AG2_A.png
_generated/AG2_TEST_AG2_B.png
_generated/AG2_TEST_AG2_C.png
_generated/8-30/AG2_A.png
_generated/8-30/AG2_B.png
_generated/8-30/AG2_C.png
_generated/8-30/AG4_A.png
_generated/8-30/AG4_B.png
_generated/8-30/AG4_C.png
_generated/8-30/AG6_A.png
_generated/8-30/AG6_B.png
_generated/8-30/AG6_C.png
_generated/latest/AG8_A.png
_generated/latest/AG8_B.png
_generated/latest/AG8_C.png
_generated/latest/AG10_A.png
_generated/latest/AG10_B.png
_generated/latest/AG10_C.png
_generated/latest/AG12_A.png
_generated/latest/AG12_B.png
_generated/latest/AG12_C.png
_generated/latest/AG14_A.png
_generated/latest/AG14_B.png
_generated/latest/AG14_C.png
_generated/latest/AG16_A.png
_generated/latest/AG16_B.png
_generated/latest/AG16_C.png
_generated/latest/AG18_A.png
_generated/latest/AG18_B.png
_generated/latest/AG18_C.png
_generated/latest/AG20_A.png
_generated/latest/AG20_B.png
_generated/latest/AG20_C.png
_generated/latest/AG22_A.png
_generated/latest/AG22_B.png
_generated/latest/AG22_C.png
_generated/latest/AG24_A.png
_generated/latest/AG24_B.png
_generated/latest/AG24_C.png
_generated/latest/AG26_A.png
_generated/latest/AG26_B.png
_generated/latest/AG26_C.png
_generated/latest/AG28_A.png
_generated/latest/AG28_B.png
_generated/latest/AG28_C.png
_generated/latest/AG30_A.png
_generated/latest/AG30_B.png
_generated/latest/AG30_C.png
